---
import Layout from "../layouts/Layout.astro";
import type {GetStaticPaths} from "astro";
import type {User} from "../types/user"
import userData from "../data/users.json";
import Card from "../components/Card.astro";

// Define las rutas estáticas para los usuarios
export const getStaticPaths = (() => {
    const users: User[] = userData;

    return users
        .filter((user) => user.name && user.bio && user.avatarUrl && user.links && user.location)
        .map((user) => ({
            params: {
                user: user.username
            },
            props: {
                name: user.name,
                location: user.location,
                bio: user.bio,
                avatarUrl: user.avatarUrl,
                links: user.links,
                color: user.color ?? "#2d2d3a"
            }
        }));
}) satisfies GetStaticPaths;

// Accede a los parámetros y propiedades del usuario
const {user} = Astro.params;
const {name, location, bio, avatarUrl, color, links} = Astro.props;
---

<!-- Página de perfil de usuario -->
<Layout title=`LinkDev | ${user}`>
    <main>
        <!-- Tarjeta de perfil del usuario -->
        <Card
                title={name}
                location={location}
                description={bio}
                imageUrl={avatarUrl}
                links={links}
                color={color}
        />
    </main>
</Layout>