---
import {Image} from 'astro:assets';
import Pill from "./Pill.astro";

interface Props {
    title: string;
    location: string;
    description: string;
    imageUrl: string;
    color: string;
    links: { name: string; url: string }[];
}

// Accede a las propiedades que se pasan al componente
const {title, location, description, imageUrl, color, links} = Astro.props;
---

<!-- Componente de tarjeta que muestra información del usuario -->
<div class="card" style={`--hover-color: var(--${color}-color)`}>
    <Image src={imageUrl} alt={title} width="100" height="100" loading="eager"/>
    <div class="card-content">
        <h2 class={`card-title ${color}`}>{title}</h2>
        <h3 class="card-description">{description}</h3>
        <p class="location">{location}</p>
        <nav class="card-links">
            {links.map(link => (
                    <Pill url={link.url} name={link.name}/>
            ))}
        </nav>
    </div>
</div>

<style>
    .card {
        border: 1px #3d3d5c solid;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 32px;
        text-align: center;
        background-color: #1e1e2e;
        --purple-color: #CBA6F7;
        --blue-color: #89B4FA;
        --yellow-color: #F9E2AF;
        --red-color: #F38BA8;
        --orange-color: #FAB387;
        --green-color: #A6E3A1;
        --hover-color: var(--purple-color);
        margin-top: 7rem;
    }

    .card-title {
        font-size: 24px;
    }

    .location {
        margin: 24px;
    }

    .card-description {
        font-size: 16px;
    }

    img {
        border-radius: 50%;
    }

    .purple {
        color: var(--purple-color);
    }

    .blue {
        color: var(--blue-color);
    }

    .yellow {
        color: var(--yellow-color);
    }

    .red {
        color: var(--red-color);
    }

    .orange {
        color: var(--orange-color);
    }

    .green {
        color: var(--green-color);
    }

    @media (width <= 768px) {
        .card {
            padding: 20px;
            margin: 15vh auto;
        }
    }
</style>
